%header.header
  .header-title
    .header-title-log
      = link_to root_path, method: :get do
        = image_tag 'logo.svg', height: '60px', width: '95px'

    %nav.header__left
      %ul.header-menu
        %li.header-menu__list
          = link_to 'ストーリー', root_path, class: 'header_link'
        %li.header-menu__list
          = link_to '企業', root_path, class: 'header_link'
        %li.header-menu__list#main-trigger
          トピック
        %li.header-menu__list#contacts
          = link_to '資料請求/お問い合わせ', root_path, class: 'header_link'

    .header__right
      - if user_signed_in?
        .new-story-button
          = link_to 'ストーリー作成', new_story_path, class: 'new-story-icon'
        .logout-button
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-icon'
        #search.active
          = form_tag '', class: 'search__form' do
            .search__form-wrapper
              = fa_icon 'search', class: 'search-icon',id: 'search-icon'
              = text_field_tag :name,'', class: 'search__form-input', placeholder: '企業やストーリーを検索', id: 'search-input'
            .search__form-results{style: 'display: none'}
              %h3.search-results
                企業
              %ul#results-lists
                %li#results-list
                  = link_to root_path class:'results-link' do
                    %figure.list-icon
                      .img 企業アイコン
                      %figcaption.company-icon
              .search__form-results-submit
                %button.results-submit ストーリーを検索

      - else
        .login-button
          = link_to 'ログイン / 新規登録', new_user_session_path, class: 'login-icon'
        #search.active
          = form_tag '', class: 'search__form' do
            .search__form-wrapper
              = fa_icon 'search', class: 'search-icon',id: 'search-icon'
              = text_field_tag :keyword,'', class: 'search__form-input', placeholder: '企業やストーリーを検索', id: 'search-input'
            .search__form-results{style: 'display: none'}
              %h3.search-results
                企業
              %ul.results-lists
                / - @user.each do |user|
                %li.results-list
                  = link_to root_path, class:'results-link' do
                    %figure.list-icon
                      .img-icon
                      %figcaption.company-icon
                        / = user.name

              .search__form-results-submit
                %button.results-submit ストーリーを検索

