%script{src: 'slick.min.js'}
%link{rel: 'stylesheet', href: 'slick.scss'}
%link{rel: 'stylesheet', href: 'slick-theme.scss'}

.container-home
  %main.left-contents
    %section.pickup-companies-container
      .title
        %h2.updating
          = fa_icon 'window-restore'
          %span
            ストーリー更新中
      #pickup-companies{class:'slick-initialized slick-slider'}
        .slider-container
          .slick
            .slick-image
              = link_to root_path, class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'newimage01.jpg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'companyimage01.jpg', class: 'figcap-img'
                    %strong.company-name
                      株式会社YUIDEA

            .slick-image
              = link_to root_path, class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'newimage02.png',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'companyimage02.jpg', class: 'figcap-img'
                    %strong.company-name
                      株式会社MJE

            .slick-image
              = link_to root_path, class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'newimage03.png',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'companyimage03.png', class: 'figcap-img'
                    %strong.company-name
                      株式会社PR Table

            .slick-image
              = link_to root_path, class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'newimage04.jpg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'companyimage04.jpg', class: 'figcap-img'
                    %strong.company-name
                      株式会社ラクーン

            .slick-image
              = link_to root_path, class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'companyimage05.png',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'companyimage05.png', class: 'figcap-img'
                    %strong.company-name
                      Retty株式会社

            .slick-image
              = link_to root_path, class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'newimage04.svg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'companyimage06.jpg', class: 'figcap-img'
                    %strong.company-name
                      SanSan株式会社

    .latest-stories-container
      .container-title
        %h2.new-story
          = fa_icon 'window-restore'
          %span
            新着ストーリー
      %section.stories
        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '01persol.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              育児や介護で、仕事をあきらめない。ジョブシェアセンターが原炊き方の選択肢を広げる
            %p{class: 'name'}
              PERSOLグループ

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '02repro.jpeg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              「Reproで勝ち切り、世界一へ」カスタマーサクセス佐々木の挑戦
            %p{class: 'name'}
              Repro株式会社

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '03akariku.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              特任助教からコンサルタントへ 未開のキャリアに挑む新入社員の挑戦
            %p{class: 'name'}
              株式会社アカリク

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '04enbound.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              「温泉むすめ」の裏側へーー衣装デザインを手がける2人が抱く今後の野望
            %p{class: 'name'}
              株式会社エンバウンド

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '05miraif.jpeg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '06ja.jpeg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              「全社員の心をひとつに」ジェイ エイ シーのキックオフミーティングが果たす役目とは
            %p{class: 'name'}
              株式会社ジェイ エイ シー リクルートメント

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '07human.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              大学中退、会社倒産の危機を乗り越えて。日本第1号の紙袋デザイナーが持つ出会い力
            %p{class: 'name'}
              ヒューマンホールディングス株式会社

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '08puls.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              特許管理からロボット系ベンチャーへ。”好奇心”が導いた道すじ
            %p{class: 'name'}
              パルスボッツ株式会社

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '09lon.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              ”テレビの裏側”に立って見えてきた夢〜制作の道へ一歩踏み出した新人ADの奮闘〜
            %p{class: 'name'}
              ロントラ株式会社

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '10retty.jpeg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              「広告費をもらう」ではダメ。”スーツを着ない”Retty広告事業部が目指すもの
            %p{class: 'name'}
              Retty株式会社

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '11hei.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              超高齢化社会に求められる在宅医療の「質」。女性目線で石の働き方から質の向上を
            %p{class: 'name'}
              医療法人社団 平郁会

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '12karada.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              「ユーザーの求めているものを考え、それを最適な技術で」体ノート逆算思考の開発哲学
            %p{class: 'name'}
              株式会社カラダノート

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '13human.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              債務超過、大幅な減益、リストラーー苦難の中でも変わらなかった”人”への想い
            %p{class: 'name'}
              ヒューマンホールディングス株式会社

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '14trav.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              世界にすてきなストーリーを創りたい！あなたの「したい」が叶うサービスの誕生秘話
            %p{class: 'name'}
              株式会社トラベロコ

        %article.stories-link
          = link_to root_path, class:'article-link' do
            .hoverground#hovers
            .story-image
              = image_tag '15frac.jpg', class: 'image-link'
            %strong.subject{style:'height: 57px'}
              戦略・クリエイティブ・テクノロジーを駆使しブランドとユーザーをつなぐサポートを
            %p{class: 'name'}
              株式会社フラクタ

      .more
        = link_to 'localhost:3000latest?page=2', class: 'more-link'  do
          = fa_icon 'chevron-circle-right', class:'circle-link',hidden:'true'
          新着ストーリー一覧
