%script{src: 'slick.min.js'}
%link{rel: 'stylesheet', href: 'slick.scss'}
%link{rel: 'stylesheet', href: 'slick-theme.scss'}

.container-home
  %main.left-contents
    / トップコンテンツが入る
    %section.pickup-companies-container
      .title
        %h2.updating
          = fa_icon 'window-restore'
          %span
            ストーリー更新中
      #pickup-companies{class:'slick-initialized slick-slider'}
        .slider-container
          .slick
            .slick-image
              = link_to 'https://www.pr-table.com/', class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'logo.svg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'logo.svg', class: 'figcap-img'
                    %strong.company-name
                      PR Table1

            .slick-image
              = link_to 'https://www.pr-table.com/', class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'logo.svg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'logo.svg', class: 'figcap-img'
                    %strong.company-name
                      PR Table2

            .slick-image
              = link_to 'https://www.pr-table.com/', class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'logo.svg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'logo.svg', class: 'figcap-img'
                    %strong.company-name
                      PR Table3

            .slick-image
              = link_to 'https://www.pr-table.com/', class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'logo.svg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'logo.svg', class: 'figcap-img'
                    %strong.company-name
                      PR Table4

            .slick-image
              = link_to 'https://www.pr-table.com/', class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'logo.svg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'logo.svg', class: 'figcap-img'
                    %strong.company-name
                      PR Table5

            .slick-image
              = link_to 'https://www.pr-table.com/', class: 'deco-link' do
                %figure.fig-content
                  = image_tag 'logo.svg',class: 'fig-img'
                  %figcaption.figcap-content
                    .logo
                      = image_tag 'logo.svg', class: 'figcap-img'
                    %strong.company-name
                      PR Table6

    .latest-stories-container
      .container-title
        %h2.new-story
          = fa_icon 'window-restore'
          %span
            新着ストーリー
      %section.stories
        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ

        %article.stories-link
          = link_to 'https://www.pr-table.com/miraif/stories/1202', class:'article-link' do
            .hoverground
            .story-image
              = image_tag 'logo.svg'
            %strong.subject{style:'height: 57px'}
              「働き方改革」より「生き方改革」。日本版ライフシフトを実現するポイント
            %p{class: 'name'}
              株式会社ミライフ



      .more
        = link_to 'https://www.pr-table.com/latest?page=2', class: 'more-link'  do
          = fa_icon 'chevron-circle-right', class:'circle-link',hidden:'true'
          新着ストーリー一覧
