.story-contents-form
  %header.story-top
    .story-top-contents
      .logo-mark
        = file_field :image, class: "hidden", placeholder: "会社ロゴマーク"
      .story-title
        = text_field placeholder: "タイトル"
      .trriger-reason
        = text_field placeholder: "ストーリー前置き"

  .story-contents
    .story-subtitle
      = text_field placeholder: "サブタイトル"
    .story-image-picture
      = file_field :image, class: "hidden", placeholder: "イメージ画像"
    .story-image-description
      = text_field placeholder: "画像の説明"
    .story-content
      = text_field placeholder: "ストーリーを入力してください"

    .story-subtitle
      = text_field placeholder: "サブタイトル"
    .story-image-picture
      = file_field :image, class: "hidden", placeholder: "イメージ画像"
    .story-image-description
      = text_field placeholder: "画像の説明"
    .story-content
      = text_field placeholder: "ストーリーを入力してください"

    .story-subtitle
      = text_field placeholder: "サブタイトル"
    .story-image-picture
      = file_field :image, class: "hidden", placeholder: "イメージ画像"
    .story-image-description
      = text_field placeholder: "画像の説明"
    .story-content
      = text_field placeholder: "ストーリーを入力してください"

    .story-subtitle
      = text_field placeholder: "サブタイトル"
    .story-image-picture
      = file_field :image, class: "hidden", placeholder: "イメージ画像"
    .story-image-description
      = text_field placeholder: "画像の説明"
    .story-content
      = text_field placeholder: "ストーリーを入力してください"

  .story-text.story-btn
    = submit "ストーリー作成", id: "button", class: "btn btn-lg btn-primary btn-block"



